- @promesa = comment.commentable
.comment(class="level#{level}")
  .comment_content
    %p.top
      -#%span.title
        %i Lo prometido:
        = link_to promesa.title_scaped.humanize, ver_promesa_path(promesa)
      -#%span.region(style='float:right')= promesa.official.state.name
      %div(syle='font-size:small !important')
        %span(style='float:left')
          Comentario de
          = comment.ciudadano.screen_name
        %span(style='float:right')
          %span.fecha= time_ago_in_words comment.created_at
    %p(style='margin:20px 0;text-align:center')
      %i="\"#{comment.body}\""
      =#comentario_social_widgets comment
      %br
      
    - if ciudadano_signed_in?
      -@type = 'comment'
      -@votable = comment
      .votar= render 'shared/votar'
      
      .responder
        =render 'comments/form', :comment => comment, :level => level==0?1:level, :position => position+1, :url => reply_comment_path(comment,level)
    - else
      para votar por este comentario
      =login
  
  .comment_footer(class="#{position%2==0? 'par': 'impar'}")
      
  .thread
    -if comment.has_children?
      -comment.children.each_with_index do |c, index|
        = render 'comments/comment', :comment => c, :level => level==0?1:level, :position => position+index+1      
