- if ciudadano_signed_in?
  %span.estado Agrega tu comentario
  %div{:id=>"promise_#{promise.id}_comments"}
    %form
    = form_for(@promesa.comment_threads.build, :url => comentar_promesa_path(@promesa)) do |form|
      .ta_comment
        .input
          = form.text_area :body, :class => 'xlarge', :rows => 7
        = hidden_field_tag "comment[ciudadano_id]", current_ciudadano.id
      .actions
        = form.submit 'Publicar', :class => 'button'
- else
  %span.estado
    %div(style='float:left')
      Para comentar y mantenerte informado&nbsp;
    %div(style='float:left')
      = render 'social/login'