- if ciudadano_signed_in?
  .comment.reply(class="level#{level}")
    .comment_content(style='min-height:160px; margin-top: 30px; width: 510px')
      %span.estado Agrega tu comentario
      %div
        = form_for @promesa.comment_threads.build, :url => url,
            :disable_with => 'enviando...', :remote => true, "data-type" => :html,
            :autocomplete => 'off' do |form|
          .ta_comment
            .input
              = form.text_area :body, :class => 'xlarge', :rows => 7, :required => true
            = hidden_field_tag "comment[ciudadano_id]", current_ciudadano.id
          .actions
            = form.submit 'Responder', :class => 'button'
      -#%a.ocultar(onclick='$(this).parents(".responder").hide(); return false;' href='#') ocultar
    .comment_footer(class="#{position%2==0? 'par': 'impar'}")
