%h2 Busqueda Avanzada
%form(action=promise_filter_path method='get')
  %section.container
    %section
      .input
        = select_tag 'search[state]', options_from_collection_for_select(State.used, 'id','name', params[:search]? params[:search][:state]: nil), :include_blank => '- Región -'
      .input
        = select_tag 'search[province]', options_from_collection_for_select(Province.used, 'id','name', params[:search]? params[:search][:province]: nil), :include_blank => '- Provincia -'

    %section
      .input
        = select_tag 'search[topic]', options_from_collection_for_select(Topic.used, 'id','name', params[:search]? params[:search][:topic]: nil), :include_blank => '- Temas -'
      .input
        = select_tag 'search[official]', options_from_collection_for_select(Official.with_promises, 'id','name', params[:search]? params[:search][:official]: nil), :include_blank => '- Autoridad -'

    %section
      .input
        = text_field_tag 'search[keyword]', params[:search]? params[:search][:keyword]: nil, :placeholder => 'Texto'
      .input
        = select_tag 'search[political_party]', options_from_collection_for_select(PoliticalParty.with_promises, 'id','name', params[:search]? params[:search][:political_party]: ''), :include_blank => '- Partido Político -'

    %section.button
      = submit_tag 'Buscar', :class => :button

  %span
    Nota: No es necesario llenar todos los campos del filtro