%ul
  %li= link_to 'Me prometieron', denunciar_promesas_path
  %li= link_to 'Yo Prometo', prometer_promesas_path
  %li= link_to 'Promesas', buscar_promesas_path
  %li= link_to 'Acerca De', acerca_de_index_path
  %li= link_to 'Contacto', new_contacto_path