- official = declaration.promise.official
- official = declaration.promise.official
- state = declaration.promise.official_state_name.humanize
- promise = declaration.promise
.comment
  %p.top
    %span.title 
      = link_to official.name, promesas_filters_path(:official, official.name)
    %span.date= declaration.created_at.to_s(:date)
    %br
    %span.gobierno
      Gobierno de
      = link_to (official.province ? official.province_name : official.state_name), (official.province ? promesas_filters_path(:province, official.province_name) : promesas_filters_path(:state, official.state_name))
  %p.comment_content
    = "\"#{declaration.body}\""
  %span.compartir
    = render 'social/node_widgets', |
      :link => promesa_url(promise.slug)+"/?mdm=declarations&mdi=#{declaration.id}", |
      :title => "Declaración de #{official.name} acerca de #{promise.title}", |
      :desc => declaration.body, |
      :width => 280
