#user_login_box(style="float:right")
  - if user_signed_in?
    = image_tag "#{current_user.login_type}.png",
      :style => 'vertical-align: text-bottom;', :title => "loggeado con #{current_user.login_type}"
    |
    - if current_user.name
      = current_user.name
    - elsif current_user.login
      = current_user.login
    - else
      current_user.email
    |
    = link_to 'mi perfil', edit_user_registration_path
    |
    = link_to 'salir', destroy_user_session_path, :method => :delete
  - else
    %span(style='vertical-align: top')
      login:
    = link_to image_tag('google.png'), user_omniauth_authorize_path(:google)
    = link_to image_tag('facebook.png'), user_omniauth_authorize_path(:facebook)
    = link_to image_tag('twitter.png'), user_omniauth_authorize_path(:twitter)

- if admin_signed_in?
  #user_login_box(style="float:left")
    = current_admin.email
    |
    = llink_to 'Admin section', admins_path
    |
    = link_to 'Sign out', destroy_admin_session_path, :method => :delete
