- cont_selector = '#pruebas' if cont_selector.nil?
= link_to_function "link","promesa.add_prueba('link','#{cont_selector}')"
= link_to_function "imagen","promesa.add_prueba('imagen','#{cont_selector}')"
= link_to_function "archivo","promesa.add_prueba('archivo','#{cont_selector}')"
= link_to_function "video","promesa.add_prueba('video','#{cont_selector}')"
= link_to_function "mapa","promesa.add_prueba('mapa','#{cont_selector}')"
