%h1 Inicio
= form_for(@ciudadano, :url => url_for(:action=>"sesion_new", :controller=>"ciudadano")) do |f| 
  %div  
    = f.label :email 
    %br
    = f.text_field :email, :autofocus => true 
  %div  
    = f.label :password 
    %br 
    = f.password_field :password

    
    
    %br 

  = f.submit "Entrar",:class=>"button"


= link_to "Registrar", ciudadanos_new_path
 
