.promesa
  %p.promesa_top
    %span.region
      = link_to promesa.official_state_name.humanize, promesas_filters_path(:state, promesa.official_state_name.humanize)
    %span.fecha
      creada hace
      = time_ago_in_words(promesa.created_at)
  %p
    %span.title
      %i La promesa:
      =link_to promesa.title_scaped.humanize, promesa_path(promesa.slug)
  %p.topic
    - promesas_temas(promesa)
  %p.descripcion(style='text-align:left;padding-left:0px')
    %i Lo prometido:
    = promesa.description_scaped
  %p
    .compartir
      = promise_social_widgets(promesa)
.arrow
.status
  .representante
    = image_tag promesa.official_avatar_url, :class => 'foto_representante'
    %span.nombre_representante= link_to promesa.official_name, promesas_filters_path(:official, promesa.official_name)
    %span.partido_representante= promesa.official_political_party_name
  .promesa_status
    = render 'promesas/dias_progreso', :promesa => promesa, :show_label => true

    .hito
      = image_tag hito_actual(promesa), :style => 'margin: 6px 0;'
      %span.progreso Etapa/Hito