.promesa
  .lo_prometido
    = render 'promesas/resumen', :promesa => promesa

    %p
      .compartir
        = promesa_social_widgets(promesa)
  .arrow
  .el_resumen
    %label
      subida por
      = promesa.el_que_denuncia

    %label
      comentarios
      = promesa.comment_threads.count
     
    %label
      número de pruebas
      = promesa.pruebas.count
    
    - if promesa.region  
      %label
        region
        = promesa.region
