- content_for :title, ":: #{@promise.title}"
#show-promesa
  .promesa_titulo
    %h1 Promesas
    
  .promesa_estado_titulo
    %h1 Promesas del mismo candidato
    
  .promesa
    = render "base/flash"

    %p.promesa_top(style='float:right')
      %span.region
        = raw "en #{link_to @promise.official_state_name.humanize, promesas_filters_path(:state, @promise.official_state_name.humanize)}"
      %span.fecha
        = "hace #{time_ago_in_words @promise.created_at}"

    %span(style='float:left')
      %i Lo prometido:
      %span.title
        = link_to @promise.title.humanize, promesas_path(@promise.slug)

    %div(style='clear:both')
    %br
    
    %p.topic
      = promesas_temas(@promise)
    
    .representante
      = image_tag @promise.official_avatar_url, :class => 'foto_representante'
      %span.nombre_representante= link_to @promise.official_name, promesas_filters_path(:official, @promise.official.id)
      %span.partido_representante= @promise.official_political_party_name
      
      .promesa_status
        = render 'promesas/dias_progreso', :promesa => @promise, :show_label => false
    
    %p.descripcion= @promise.description
    
    %span.estado ETAPA/HITO
    
    %ul#hito
      %li.no-border
        - hito_imagen(1, @promise)
      %li
        - hito_imagen(2, @promise)
      %li
        - hito_imagen(3, @promise)
      %li
        - hito_imagen(4, @promise)
      %li
        - hito_imagen(5, @promise)
    
    .share
      -comentarios_count(@promise)

      .compartir
        = promise_social_widgets(@promise)

    .post_comment
      = render :partial => 'comments/form', :locals => {:promise => @promise}

    = render :partial => 'comments/comment', :collection => @comments
    = paginate @comments

  .promesas_candidato
    - @promise.official_promises.each do |promise|
      .representante_promesa
        %p.promesa_top
          %span.fecha
            = time_ago_in_words promise.created_at
        %span.title
          = link_to promise.title.humanize, promesas_path(promise.slug)
        %p.topic
          = promesas_temas(@promise)

        %p.descripcion= promise.description_scaped
        
        .share
          - comentarios_count(promise)
          %span.ver_mas= link_to 'VER MÃS >>', promesa_path(promise.slug)    
    
%script
  $(document).ready(function(){
  $('#hito-1').popover({html : true, placement: 'above'});
  $('#hito-2').popover({html : true, placement: 'above'});
  $('#hito-3').popover({html : true, placement: 'above'});
  $('#hito-4').popover({html : true, placement: 'above'});
  $('#hito-5').popover({html : true, placement: 'above'});
  })
