=content_for :stylesheets do
  =stylesheet_link_tag :promesa  
  
=content_for :scripts do
  <script src="http://github.com/janl/mustache.js/raw/master/mustache.js"></script>
  =javascript_include_tag :promesa  

#denuncia    
  .promesa
    =form_for @promesa, :url => crear_promesas_path, |
      :validate => true, :html => {:multipart => true} do |f|
      
      %div
        .left
          %h1 Nueva Promesa
        .right.denuncia_anonima
          =f.label :denuncia_anonima, 'denuncia anonima'
          =f.check_box :denuncia_anonima
        %br.clear
      
      = f.error_messages
      
      %fieldset.info_funcionario
        %legend El que promete
        = f.fields_for :info_funcionario do |iff|
          .nombre
            =iff.label :nombre, 'Nombre: *'
            =iff.text_field :nombre, :required => 'required'
          .cargo
            =iff.label :cargo, 'Cargo:'
            =iff.text_field :cargo
          .entidad
            =iff.label :entidad, 'Entidad:'
            =iff.text_field :entidad
      
      %fieldset.lo_prometido
        %legend Lo prometido
        .lo_prometido
          =f.text_area :lo_prometido, :required => 'required'
      
        .tags
          =f.label :tag_list, 'Tags:'
          =f.text_field :tag_list
      
        .fecha_declaracion
          =f.label :fecha_declaracion, 'Cúando:'
          =f.datepicker :fecha_declaracion
          
        .region
          =f.label :region, 'Region:'
          =f.collection_select :region_id, Region.all, :id, :nombre, {:prompt => '-- Selecciona --'}
            
      %fieldset.pruebas
        %legend Pruebas
        #pruebas
          = render 'prueba/upload.tpl'
          -#%script
            promesa.add_prueba()
          = f.fields_for :pruebas do |pf|
            = render 'prueba/upload', :form => pf
        
        #botones
          =button_tag(:type => 'button',:onclick => 'promesa.add_prueba("link")') do
            + link
          =button_tag(:type => 'button',:onclick => 'promesa.add_prueba("imagen")') do
            + foto o imagen
          =button_tag(:type => 'button',:onclick => 'promesa.add_prueba("archivo")') do
            + archivo
          =button_tag(:type => 'button',:onclick => 'promesa.add_prueba("video")') do
            + video
          =button_tag(:type => 'button',:onclick => 'promesa.add_prueba("mapa")') do
            + mapa
      =f.submit(value='Guardar')
