  

=#content_for :stylesheets do
=stylesheet_link_tag "dropkick"
=stylesheet_link_tag "jquery.tagsinput"
  
=#content_for :scripts do
=javascript_include_tag 'jquery-ui.min'
=javascript_include_tag 'jquery.dropkick-1.0.0'
=javascript_include_tag 'mustache'
=javascript_include_tag 'jquery.tagsinput'
=javascript_include_tag :promesa

- content_for :title, ":: Ver"  


%section#promesa
  %span.icon_nueva_promesa
  %h2
    %span.gris NUEVA
    %span.naranja PROMESA
  
  .linea_promesa
  %article.detalle_promesa
    %h3 PROMESA ASUMIDA
    %span.usuario Denunciado por #{@promesa.denuncia_anonima ? 'anonimo' : @promesa.uploader.screen_name}
    %span.tiempo= time_ago_in_words @promesa.created_at
    %h4=@promesa.info_funcionario# El presidente de mi comité
    %fieldset
      %legend=time_ago_in_words(@promesa.fecha_inicio()).capitalize# Hace 6 meses prometió
      .descripcion=@promesa.lo_prometido # no dejar de comer pollo
      %span.lugar=@promesa.region # Juliaca
    .redes_sociales 
      = promesa_social_widgets(@promesa)
    .extras
      %span.count_comentarios=comentarios(@promesa)#24 comentarios
      %span.seguidores= render :partial => 'promesas/seguir', :locals=>{ :promesa => @promesa}
      %span.reclamos= render :partial =>'promesas/reclamar', :locals=>{ :promesa => @promesa}

    .linea_comentario
    - @promesa.comment_threads.each do |c|
      =render :partial => 'comments/comment', :locals=>{:comment=>c}
    
    - if ciudadano_signed_in?
      %h4 Agregar comentario
      %div
        = form_for @promesa.comment_threads.build, :url => comentar_promesa_path,
            :disable_with => 'enviando...', :remote => true, "data-type" => :html,
            :autocomplete => 'off' do |form|
          = form.text_area :body, :required => true,:class=>'area_comentario'
          = hidden_field_tag "comment[ciudadano_id]", current_ciudadano.id
          = form.submit 'Responder', :class => 'btn_responder'
    
  %article.pruebas
    %h4 Pruebas
    - @promesa.pruebas.each do |prueba|
      = render :partial => 'prueba/show',:locals=>{:prueba=> prueba}

    .tipos_pruebas
      =render 'prueba/add'


:javascript
  jQuery(function($) {
    $('.seguir a[data-type=html], .reclamar a[data-type=html]').parent().on('ajax:success', function(event, data, status, xhr) {
      return $(this).html(data);
    });
    $('.votos a[data-type=html]').parent().on('ajax:success', function(event, data, status, xhr) {
      return $(this).html(data);
    });
    $(document).on('ajax:success', '.comentar form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parents('.comentar').siblings('.comentarios').append($(data));
    });
    $(document).on('ajax:success', '.comentarios form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parents('.linea_comentario').before(data);
    });
    $(document).on('ajax:success', '#pruebas > .add > form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parent('.add').replaceWith(data);
    });
    return $(document).on('ajax:success', '.hazte_cargo form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parent('.hazte_cargo').remove;
    });
  });