=content_for :stylesheets do
  =stylesheet_link_tag :promesa  
  
=content_for :scripts do
  <script src="http://github.com/janl/mustache.js/raw/master/mustache.js"></script>
  =javascript_include_tag :promesa  
  
#ver
  .promesa
    %div
      .left
        %h1
          =@promesa.info_funcionario
      .right.denuncia_anonima
        -if @promesa.denuncia_anonima
          denuncia anonima,
        -else
          denunciado por
          =@promesa.uploader.screen_name
        =time_ago_in_words @promesa.created_at
      %br.clear   
      
    %fieldset.lo_prometido
      %legend prometi&oacute;:
      .lo_prometido
        =@promesa.lo_prometido
      .tags
        -@promesa.tags.each do |t|
          %span.tag= link_to t, :url => '#'
      .fecha_declaracion
        =@promesa.fecha_declaracion
        
    .compartir
      = promesa_social_widgets(@promesa)
        
    .pruebas
      %legend Pruebas
      -@promesa.pruebas.each do |p|
        = render 'prueba/show', :prueba => p
        
    .clear

    .share
      -comentarios_count(@promesa)

    .post_comment
      = render :partial => 'comments/form', :locals => {:promise => @promesa}

    - @comments.each do |c|
      - @comment = c
      = render :partial => 'comments/comment'
    = paginate @comments
        
