=content_for :stylesheets do
  =stylesheet_link_tag :promesa  
  
=content_for :scripts do
  <script src="http://github.com/janl/mustache.js/raw/master/mustache.js"></script>
  =javascript_include_tag :promesa  
  
#ver
  .promesa
    .discusion
      .left
        %h1
          =@promesa.info_funcionario
      .right.denuncia_anonima
        -if @promesa.denuncia_anonima
          denuncia anonima,
        -else
          denunciado por
          =@promesa.uploader.screen_name
        =time_ago_in_words @promesa.created_at
      %br.clear
      
      - if ciudadano_signed_in? and current_ciudadano.puede_editar? @promesa
        edit   
      
      %fieldset.lo_prometido
        %legend #{time_ago_in_words(@promesa.fecha_inicio()).capitalize} prometi&oacute;:
        .lo_prometido
          =@promesa.lo_prometido
        .tags
          -@promesa.tags.each do |t|
            %span.tag= t #link_to t, :url => '#'
        -if @promesa.region
          .region
            =@promesa.region
          
      
      - if ciudadano_signed_in? && @promesa.puede_enviar_hazte_cargo?   
        %fieldset.hazte_cargo
          %legend Responsable
          %i
            &iquest;Conoces a la persona que realiz&oacute; esta promesa?
            Env&iacute;ale un email para que se haga cargo!
          %br
          %br
          %div
            =form_for @promesa, :url => enviar_hazte_cargo_promesa_path,
              :remote => true do |f|
              .nombre
                =label_tag :nombre
                =text_field_tag :nombre_responsable, '', :required => true
              .email
                =label_tag :email
                =email_field_tag :email_responsable, '', :required => true
              .body
                =label_tag :mensaje
                %br
                =text_area_tag :email_body, '', :required => true
              =submit_tag 'Enviar', :class => 'button'
            
        .compartir
          = promesa_social_widgets(@promesa)
          
      .clear
        
  
      .share
        -comentarios_count(@promesa)
  
      .comentar
        = render :partial => 'comments/form',
          :locals => {:promise=>@promesa, :level=>0, :position=>0, :url=>comentar_promesa_path(@promesa)}
      
      .comentarios
        - @comments.each do |c|
          = render :partial => 'comments/comment',
            :locals => {:comment => c, :level => 0, :position => 0}
        
      = paginate @comments
    
    -#.break &nbsp;
      
    .pruebas
      %legend Pruebas
      #pruebas
        -@promesa.pruebas.each do |p|
          = render 'prueba/show', :prueba => p
          
      - if ciudadano_signed_in?
        =render 'prueba/upload', :form => nil, :to_be => true
   
      - if ciudadano_signed_in?
        = render 'prueba/add'
        
