=content_for :stylesheets do
  =stylesheet_link_tag :promesa  
  
=content_for :scripts do
  <script src="http://github.com/janl/mustache.js/raw/master/mustache.js"></script>
  =javascript_include_tag :promesa
  
- content_for :title, ":: Ver"  
  
#ver
  .promesa
    .discusion
      .right.denuncia_anonima
        -if @promesa.denuncia_anonima
          denuncia anonima,
        -else
          denunciado por 
          =@promesa.uploader.screen_name
        =time_ago_in_words @promesa.created_at
        
      .left
        %h1
          =@promesa.info_funcionario
      %br.clear
      
      - if ciudadano_signed_in? and current_ciudadano.puede_editar? @promesa
        .right
          =link_to 'editar', editar_promesa_path
        .clear   
      
      %fieldset.lo_prometido
        %legend #{time_ago_in_words(@promesa.fecha_inicio()).capitalize} prometi&oacute;:
        .lo_prometido
          =@promesa.lo_prometido
        .tags
          -@promesa.tags.each do |t|
            %span.tag= t #link_to t, :url => '#'
        -if @promesa.region
          .region
            =@promesa.region
          
      - if ciudadano_signed_in? && @promesa.puede_enviar_hazte_cargo? 
        =render 'promesas/enviar_hazte_cargo'
            
      .compartir
        = promesa_social_widgets(@promesa)
          
      .clear
        
  
      .share
        -comentarios_count(@promesa)
  
      .comentar
        = render :partial => 'comments/form',
          :locals => {:promise=>@promesa, :level=>0, :position=>0, :url=>comentar_promesa_path(@promesa)}
      
      .comentarios
        - @comments.each do |c|
          = render :partial => 'comments/comment',
            :locals => {:comment => c, :level => 0, :position => 0}
        
      = paginate @comments
    
    -#.break &nbsp;
      
    .pruebas
      %legend Pruebas
      #pruebas
        -@promesa.pruebas.each do |p|
          = render 'prueba/show', :prueba => p
          
      - if ciudadano_signed_in?
        =render 'prueba/upload', :form => nil, :to_be => true
   
      - if ciudadano_signed_in?
        = render 'prueba/add'
        
