!!! 5
%html
  %head
    %title
      Promesometro
      =h yield(:title)
    = raw(stylesheet_link_merged(:base))
    %link{:href => 'http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300|Anton', :rel => 'stylesheet', :type => 'text/css'}
    <!--[if IE]>
    %link{:href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    <![endif]-->
    %link{:href => "/stylesheets/bootstrap.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js'
    = raw(javascript_include_merged(:base))
    = csrf_meta_tag
    
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29520503-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %meta(property="og:site_name" content="promesometro.pe")
    %meta(property="og:title" content="promesometro.pe")
    %meta(property="og:image" content="http://promesometro.pe/images/accelerometer.png")
    %meta(property="og:url" content="http://promesometro.pe")
    %meta(property="og:type" content="cause")
    %meta(property="og:description" content="No más palabras vacías: Mide y discute el progreso de las promesas de tus representantes")

    <script type="text/javascript">var mpq=[];mpq.push(["init","3ceb8a43ebe0f86a05265246453f4e37"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();</script>
  %body{:class => "#{controller.controller_name}"}
    #container
      %header
        = link_to image_tag('logo.png', :id => 'logo'), root_path
        = render 'social/login'
        %nav
          %ul
            %li.no-border= link_to 'Autoridades', directorio_path
            %li= link_to 'Promesas', promesas_path
            %li= link_to 'Acerca de', acerca_de_index_path
            %li= link_to 'Contacto', new_contacto_path
          = render 'social/page_widgets'

        #search_box
          - unless controller.controller_name == 'home'
            = render :partial => 'shared/search'
      .content
        = yield

      %footer
        %nav
          %ul
            %li.no-border= link_to 'Promesas', promesas_path
            %li= link_to 'Directorio', directorio_path
            %li= link_to 'Contacto', new_contacto_path
            %li= link_to 'Acerca De', acerca_de_index_path
            %li.no-border.logo= link_to(image_tag('citivox.png'), 'http://citivox.com/', :target => '_blank')
            %li.no-border.logo= link_to(image_tag('proetica.png'), 'http://www.proetica.org.pe/', :target => '_blank')
            %li.no-border &copy; Todos los derechos reservados